.img{
    margin-left: 335px;
}
h1{
    margin-left: 280px;
}
.email{
    margin-left: 291px;
}
.password{
    margin-left: 291px;
    margin-top: 10px;
}
.checkbox{
    margin-left: 291px;
    margin-top: 5px;
}